# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/vendor/
/tmp/
.env
.DS_Store

# iOS/Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
.build/
Pods/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
